.pokemon-list {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(12rem, 1fr) );  
  gap: 2rem;
}

.pokemon-list > li {
  display: flex;
  justify-content: center;
  align-items: center;
}