.pagination {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  margin: auto 2rem 0;
}

.pagination > button {
  display: flex;
  column-gap: .5rem;
  align-items: center;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  padding: .5rem 1rem;
  border: solid .125rem transparent;
}

.pagination > button:not(:disabled) > p {
  color: black
}

.pagination > button:hover {
  border-color: #2874BB;
  background: #FFCC00;
  color: #2874BB;
}

.pagination > button.first-page:hover, button.last-page:hover {
  border-color: transparent;
  background: transparent;
  color: #B2B2B2;
  cursor: unset;
}

.pagination > button > p {
  font-size: 2rem;
  font-weight: 900;
}

.pagination > button > .arrow-left-icon, .arrow-right-icon {
  height: 2rem;
}

@media (max-width: 640px) {
  .pagination > button > p {
    font-size: 1.25rem;
    font-weight: 900;
  }
  
  .pagination > button > .arrow-left-icon, .arrow-right-icon {
    height: 1.25rem;
  }
}
